:root {
    --body-leading: 1.6;
    --container-padding: 1.5em;
    --container-width: 1260px;
    --gallery-gap: 1.5em;
    --gallery-items-per-row: 1;
  }

* {
    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
}


body {
    background-color:#515B3A;
    overflow:visible;
    margin:0;
    padding:0;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

.img-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gallery-gap);
    justify-content: center;
}

.img-gallery__item {
    img {
      aspect-ratio: 3 / 2;
      object-fit: cover;
    }
    flex: 0 0
    calc(
      100% / var(--gallery-items-per-row) - var(--gallery-gap) *
        (var(--gallery-items-per-row) - 1) / var(--gallery-items-per-row)
    );
}
  
.page-container {
    padding: var(--container-padding);
    max-width: var(--container-width);
    margin-right: auto;
    margin-left: auto;
}

.header {
    text-align: center;
}

.header h1 {
    text-align: center;
    color: #997FDC;
    font-size: 3em;
}

.header h2 {
    text-align: center;
    color: #B4A0E5;
    font-size: 2em;
}

.topnav {
    overflow: hidden;
    margin:auto;
    width:fit-content;
    text-align: center;
    padding:10px;
}

.topnav a {
    border: 1px solid #515B3A;;
    display:inline-block;
    color: #E7CFCD;
    text-align: center;
    padding: 14px;
    font-size: 1.25em;
    text-decoration: none;
    background-color: #353D2F;
    border-radius: 10%;
}

.topnav a:hover:not(.active) {
    background-color: #2E3121;
}

.topnav a.active {
    background-color: #9F4A54;
}

p {
    text-align: center;
    color: #E7CFCD;
    font-size: 1em;
}

div.intro {
    text-align: center;
    color: #E7CFCD;
    font-size: 1.25em;
    padding: 10px;
}

.intro h3 {
    text-align: center;
    color:  #B4A0E5;
    font-size: 1.5em;
}

.footer {
    background-color: #353D2F;
    width:100%;
    left: 0;
    bottom: 0;
    padding: .5rem;
    padding-left: 1rem;
}

.footer a {
    color:#B4A0E5
}

.footer p {
    text-align: left;
    color: #E7CFCD;
    font-size: 1em;
}

.footer img {
    margin-right:5px;
}

@media only screen and (width >= 1024px) {
    .img-gallery {
      --gallery-items-per-row: 2;
    }
}





/* colors:
mindaro light green #D6E681
dark moss green: #515B3A
BLACK OLIVE: #353D2F
blacker olive: #2E3121
REDWOOD: #9F4A54
WISTERIA: #B4A0E5
PALE DOGWOOD: #E7CFCD
TROPICAL INDIGO #997FDC
*/