:root {
    --body-leading: 1.6;
    --container-padding: 1.5em;
    --container-width: 1260px;
    --gallery-gap: 1em;
    --gallery-items-per-row: 1;
  }

* {
    &,
    &::before,
    &::after {
      box-sizing: border-box;
    }
}


body {
    background-color:#515B3A;
    overflow:visible;
    margin:0;
    padding:0;
}

.index-container {
    padding: var(--container-padding);
    max-width: var(--container-width);
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'header header header header'
        'navbar navbar navbar navbar'
        'content content content content';
    gap:4px;
}

.about-container {
    padding: var(--container-padding);
    max-width: var(--container-width);
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'header header header header'
        'navbar navbar navbar navbar'
        'profile profile profile profile'
        'about about about about';
    gap:4px;
}

.works-container {
    padding: var(--container-padding);
    max-width: var(--container-width);
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
        'header header header header'
        'navbar navbar navbar navbar'
        'contents contents contents contents'
        'content content content content';
    gap:4px;
}

img {
    max-width: 100%;
    vertical-align: middle;
    height: auto;
}

.img-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gallery-gap);
    justify-content: center;
    margin-top:14px;
    margin-bottom:14px
}

.img-gallery__item {
    position:relative;
    img {
      aspect-ratio: 3 / 2;
      object-fit: cover;
    }
    flex: 0 0
    calc(
      100% / var(--gallery-items-per-row) - var(--gallery-gap) *
        (var(--gallery-items-per-row) - 1) / var(--gallery-items-per-row)
    );
}

.img-gallery__item:hover .overlay {
    opacity: .95;
}

.overlay {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    height:100%;
    width:100%;
    opacity:0;
    transition:.2s ease;
    background-color: #997FDC;
}

.overlay__text {
    color: #515B3A;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center; 
}


@media only screen and (width >= 1024px) {
    .img-gallery {
      --gallery-items-per-row: 2;
    }

    .index-container {
        grid-template-areas:
        'header header navbar navbar'
        'content content content content';
    }

    .about-container {
        grid-template-areas:
        'header header navbar navbar'
        'about about about profile';
    }

    .works-container {
        grid-template-areas:
        'header header navbar navbar'
        'contents content content content';
    }

    .project-container {
        grid-template-areas:
        'title title profile'
        'description description profile'
        'teamlist teamlist teamlist';
    }
}

.header {
    grid-area: header;
    text-align: center;
}

.header h1 {
    color: #997FDC;
    font-size: 3em;
}

.header h2 {
    color: #B4A0E5;
    font-size: 1.5em;
}

.topnav {
    grid-area: navbar;
    overflow: hidden;
    margin:auto;
    width:fit-content;
    text-align: center;
    padding:10px;
}

.topnav a {
    border: 1px solid #515B3A;;
    display:inline-block;
    color: #E7CFCD;
    text-align: center;
    padding: 14px;
    font-size: 1.25em;
    text-decoration: none;
    background-color: #353D2F;
    border-radius: 10%;
}

.topnav a:hover:not(.active) {
    background-color: #2E3121;
}

.topnav a.active {
    background-color: #9F4A54;
}

.content {
    grid-area: content;
}

p {
    text-align: center;
    color: #E7CFCD;
    font-size: 1em;
}

a {
    color:#B4A0E5
}

.intro {
    text-align: center;
    color:#B4A0E5;
    font-size: 1.25em;
    font-family:sans-serif;
    font-weight: bold;
    padding:20px;
}

.intro h3 {
    text-align: center;
    color:  #B4A0E5;
    font-size: 2em;
}

.footer {
    background-color: #353D2F;
    width:100%;
    left: 0;
    bottom: 0;
    padding: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
}
.footer p {
    text-align: left;
    color: #E7CFCD;
    font-size: 1em;
}

.footer img {
    margin-right:5px;
}

.contents {
    grid-area: contents;
    overflow: hidden;
    text-align: center;
    font-family: sans-serif;
}

.contents a {
    border: 1px solid #515B3A;;
    color: #353D2F;
    display:inline-block;
    text-align: center;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 4px;
    font-size: 1.25em;
    text-decoration: none;
    background-color: #B4A0E5;
}

.contents a:hover {
    background-color: #997FDC;
}

.aboutintro {
    grid-area: about;
    overflow: hidden;
    text-align: center;
    font-size: 1.25em;
    padding:10px;
    font-family:sans-serif;
    color:#E7CFCD;
}

.cvlink {
    text-align: center;
    color: #E7CFCD;
}

.cvlink a {
    border: 1px solid #515B3A;;
    display:inline-block;
    text-align: center;
    padding: 14px;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.25em;
    text-decoration: none;
    background-color: #353D2F;
    border-radius: 10%;
}

.cvlink a:hover {
    background-color: #2E3121
}

.profilepic {
    grid-area: profile;
    align-self: center;
    text-align: center;
    padding:10px;
    img {
        aspect-ratio: 1;
        object-fit: cover;
        padding:4px;
      }

}

.credit {
    font-size: 0.75em;
    color:#B4A0E5;
    text-align: right;
    margin-top:5px;
    margin-right:20px;
}

.project-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas:
    'title title profile'
    'description description profile'
    'teamlist teamlist teamlist';
    /*grid-template-areas:
        'title title title'
        'profile profile profile'
        'description description description'
        'teamlist teamlist teamlist';*/
}

.project-title {
    grid-area: title;
    font-size:2.5em;
    font-family:sans-serif;
    color:#997FDC;
    margin-top:5px;
    margin-bottom:5px;
}

.project-description {
    grid-area: description;
    font-size: 1.25em;
    color:#E7CFCD;
    margin-top:5px;
    margin-bottom:5px;
}

.project-teamlist {
    grid-area: teamlist;
    font-size: 1em;
    color:#B4A0E5;
    margin-top:5px;
    margin-bottom:5px;
}




/* colors:
mindaro light green #D6E681
dark moss green: #515B3A
BLACK OLIVE: #353D2F
blacker olive: #2E3121
REDWOOD: #9F4A54
WISTERIA: #B4A0E5
PALE DOGWOOD: #E7CFCD
TROPICAL INDIGO #997FDC
*/