body {
    background-color:#515B3A;
    margin-left:350px;
    margin-right:350px;
}

.header {
    padding: 10px;
    text-align: center;
}

.header h1 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: #997FDC;
    font-size: 3em;
}

.header h2 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: #B4A0E5;
    font-size: 1.5em;
}

.topnav {
    overflow: hidden;
    margin:auto;
    width:fit-content;
    padding:10px;
}

.topnav a {
    border-left: 1px solid #515B3A;;
    border-right: 1px solid #515B3A;;
    display:inline-block;
    color: #E7CFCD;
    font-family:'Courier New', Courier, monospace;
    text-align: center;
    padding: 14px;
    font-size: 1.25em;
    text-decoration: none;
    background-color: #353D2F;
}

.topnav a:hover:not(.active) {
    background-color: #2E3121;
}

.topnav a.active {
    background-color: #9F4A54;
}

p {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: #E7CFCD;
    font-size: 1em;
}

div.intro {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color: #E7CFCD;
    font-size: 1.25em;
    padding: 10px;
}

.intro h3 {
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    color:  #B4A0E5;
    font-size: 1.5em;
}

.content {
    display:flex;
    justify-content: center;
    gap:20px;
    margin-top: 20px;
}

.column {
    display:flex;
    flex-direction: column;
    align-items: center;
}

.row:after {
    content:"";
    display:table;
    clear:both;
}

@media screen and (max-width:600px) {
    .column {
        width:100%;
    }
}

div.gallery {
    margin: 5px;
    border: 1px solid #2E3121;
    float: left;
    width: 540px;
    background-color: #B4A0E5;
}

div.gallery:hover {
    background-color: #997FDC;
}

div.gallery img {
    max-width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
    font-family:'Courier New', Courier, monospace;
    font-size: 1.5em;
    font-weight: bold;
    color: #353D2F
}


/* colors:
mindaro light green #D6E681
dark moss green: #515B3A
BLACK OLIVE: #353D2F
blacker olive: #2E3121
REDWOOD: #9F4A54
WISTERIA: #B4A0E5
PALE DOGWOOD: #E7CFCD
TROPICAL INDIGO #997FDC
*/